<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>silo's</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <link rel="stylesheet" href="../master-style.css">
    <link rel="stylesheet" href="../dashboard/dashboard-style.css">
    <link rel="stylesheet" href="silo-style.css">
</head>

<body>
    <div class="silo-container">
        <h5>Silo managment</h5>
        <div class="contain">
            <div class="silo-stats">
                <div class=silo-stats-stat>
                    <progress class="progress progress-success" value="2.5" max="10"></progress>
                    <h4>1</h4>
                    <input id="type" name="type" type="text" placeholder="name your block" class="form-control input-md" required="" value="25%">
                    <div class="btn-group silo-menu">
                        <button type="button" class="btn dashboard-stock-select-btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Grondstof 1</button>
                        <div class="dropdown-menu"> <a class="dropdown-item" href="#">Grondstof 1</a> <a class="dropdown-item" href="#">Grondstof 2</a> <a class="dropdown-item" href="#">Grondstof 3</a> <a class="dropdown-item" href="#">Grondstof 4</a> <a class="dropdown-item" href="#">Grondstof 5</a></div>
                    </div>
                </div>
                <div class=silo-stats-stat>
                    <progress class="progress progress-warning" value="5" max="10"></progress>
                    <h4>2</h4>
                    <input id="type" name="type" type="text" placeholder="name your block" class="form-control input-md" required="" value="25%">
                    <div class="btn-group silo-menu">
                        <button type="button" class="btn dashboard-stock-select-btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Grondstof 1</button>
                        <div class="dropdown-menu"> <a class="dropdown-item" href="#">Grondstof 1</a> <a class="dropdown-item" href="#">Grondstof 2</a> <a class="dropdown-item" href="#">Grondstof 3</a> <a class="dropdown-item" href="#">Grondstof 4</a> <a class="dropdown-item" href="#">Grondstof 5</a></div>
                    </div>
                </div>
                <div class=silo-stats-stat>
                    <progress class="progress progress-danger" value="7.8" max="10"></progress>
                    <h4>3</h4>
                   <input id="type" name="type" type="text" placeholder="name your block" class="form-control input-md" required="" value="25%">
                    <div class="btn-group silo-menu">
                        <button type="button" class="btn dashboard-stock-select-btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Grondstof 1</button>
                        <div class="dropdown-menu"> <a class="dropdown-item" href="#">Grondstof 1</a> <a class="dropdown-item" href="#">Grondstof 2</a> <a class="dropdown-item" href="#">Grondstof 3</a> <a class="dropdown-item" href="#">Grondstof 4</a> <a class="dropdown-item" href="#">Grondstof 5</a></div>
                    </div>
                </div>
                <div class=silo-stats-stat>
                    <progress class="progress progress-danger" value="9" max="10"></progress>
                    <h4>4</h4>
                   <input id="type" name="type" type="text" placeholder="name your block" class="form-control input-md" required="" value="25%">
                    <div class="btn-group silo-menu">
                        <button type="button" class="btn dashboard-stock-select-btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Grondstof 1</button>
                        <div class="dropdown-menu"> <a class="dropdown-item" href="#">Grondstof 1</a> <a class="dropdown-item" href="#">Grondstof 2</a> <a class="dropdown-item" href="#">Grondstof 3</a> <a class="dropdown-item" href="#">Grondstof 4</a> <a class="dropdown-item" href="#">Grondstof 5</a></div>
                    </div>
                </div>
                <div class=silo-stats-stat>
                    <progress class="progress progress-success" value="3" max="10"></progress>
                    <h4>5</h4>
                    <input id="type" name="type" type="text" placeholder="name your block" class="form-control input-md" required="" value="25%">
                    <div class="btn-group silo-menu">
                        <button type="button" class="btn dashboard-stock-select-btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Grondstof 1</button>
                        <div class="dropdown-menu"> <a class="dropdown-item" href="#">Grondstof 1</a> <a class="dropdown-item" href="#">Grondstof 2</a> <a class="dropdown-item" href="#">Grondstof 3</a> <a class="dropdown-item" href="#">Grondstof 4</a> <a class="dropdown-item" href="#">Grondstof 5</a></div>
                    </div>
                </div>
                <div class=silo-stats-stat>
                    <progress class="progress progress-success" value="0" max="10"></progress>
                    <h4>6</h4>
                    <input id="type" name="type" type="text" placeholder="name your block" class="form-control input-md" required="" value="25%">
                    <div class="btn-group silo-menu">
                        <button type="button" class="btn dashboard-stock-select-btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Grondstof 1</button>
                        <div class="dropdown-menu"> <a class="dropdown-item" href="#">Grondstof 1</a> <a class="dropdown-item" href="#">Grondstof 2</a> <a class="dropdown-item" href="#">Grondstof 3</a> <a class="dropdown-item" href="#">Grondstof 4</a> <a class="dropdown-item" href="#">Grondstof 5</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="http://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="canvasjs-1.9.2/jquery.canvasjs.min.js"></script>
<script src="canvasjs-1.9.2/canvasjs.min.js"></script>

</html>