
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

@keyframes bake-pie {
  from {
    transform: rotate(0deg) translate3d(0,0,0);
  }
}


.char{
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}
.pieID {
  display: inline-block;
  vertical-align: top;
}
.pie {
  height: 150px;
  width: 150px;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
  position: relative;
 
}
.pie::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: 75px;
  height: 75px;
  background: #1C2F3C;
  border-radius: 50%;
  top: 37px;
  left: 37px;
}

.slice {
  position: absolute;
  width: 150px;
  height: 150px;
  clip: rect(0px, 150px, 150px, 75px);
  animation: bake-pie 1s;
}
.slice span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  clip: rect(0px, 150px, 150px, 75px);
}
.legend {
    color: #F5F5F5;
 margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 2em;
  
  font-size: 13px;
  
}
.legend li {
  width: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 1.25em;
  margin-bottom: 0.7em;
  margin-left: 0.1em;
  margin-right: 0.1em;
  
  border-top: 0.5em solid black;
  
}
.legend em {
  font-size: 0.8em;
}