body
{
    background: url("../background2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-height: 100vh;
}



#formEdit{
    background-color: #1b2e3c;
    border: none;
    padding-bottom: 50px;
}

#formEdit h1{
    font-size: 1.8em;
    margin-bottom: 15px;
    margin-top: 5px;
    padding-top: 15px;
    text-align: center;
    color: white;
}

#formEdit h3{
    color: white;
    background-color: #111c25;
    text-align: center;
    font-size: 1.4em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
#editInBlock{
    margin-top: -10px;
    padding-top: 20px;
    background-color: #3b6482;
    margin-right: auto;
    margin-left: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 10px;
    width: 90%;
}
#editInBlock label{
    color: white;
    text-align: center; 
}
#editInBlock input{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}
#txtGrondstof{
    width: 70%;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 3px;
}
#txtHardheid{
     width: 70%;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 3px;   
}

.row
{
    width: 90%;
    margin: 20px auto;
    display: block;
}

label
{
    padding-left: 20px;
    display: block;
    width: 100%;
}

#form
{
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
}

#form > h1
{
    padding-top: 10px;
    text-align: center;
}

#form > h3
{
    text-align: center;
}

#CreateMaterialbutton
{
    margin-left:auto;
    margin-right:auto;
    display: block;
    max-width: 200px;
    width: 80%;
    background-color: #74a0c0;
    border: none;
    text-align: center;
}

#CreateMaterialbutton:hover,
#CreateMaterialbutton:active
{
    background-color: #4b7fa5;
}

