body{
    background-color: #202935;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-height: 100vh;
}

.row{
    margin-left: -15px;
    margin-right: -15px;
}

#formEdit{
    background-color: #1b2e3c;
    border: none;
    padding-bottom: 50px;
}

#formEdit h1{
    font-size: 1.8em;
    margin-bottom: 15px;
    margin-top: 5px;
    padding-top: 15px;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

#formEdit h3{
    color: white;
    background-color: #111c25;
    text-align: center;
    font-size: 1.4em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.editForm{
    margin-top: -10px;
    padding-top: 20px;
    background-color: #313945;
    margin-right: auto;
    margin-left: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 10px;
    width: 90%;
}
.totalEdit{
    width: 540px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.totalEdit label{
    display: block;
    float: left;
    color: white;
    text-align: right;
    width: 150px;
    font-weight: 400;
    margin-right: 20px;
}

.totalEdit h4{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    font-size: 1.1rem;
    font-weight: 400;
}

.totalEdit select{
    display: block;
    width: 200px;
    height: 35px;
    outline: none;
    border-radius: 3px;
}

.totalEdit input{
    display: block;
    width: 200px;
    height: 35px;
    outline: none;
    border-radius: 3px;
}

.totalEdit button{
    border: none;
    display: block;
    text-align: center;
    color:white;
    background-color: olivedrab;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 199px;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    text-transform: uppercase;
}

.totalEdit button:hover
{
    background-color: #458b00;
    text-decoration: none;
}



/* Primesilos */

.totalEdit #slider{
    margin-top: -10px;
}


/*rawmaterials */
input[type=file]{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 440px;
    height: 25px;
    color:olivedrab;
}


input[type=range]{
    -webkit-appearance: none;
    display: block;
    margin-top: 30px;
    height: 5px;
    padding: 0px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: olivedrab;
    margin-top: -4px;
}


@media (max-width: 426px){
    .totalEdit{
        width: 200px;
    }
    
    .totalEdit label{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
    }
    
    .totalEdit #slider{
    margin-top: 0px;
    margin-bottom: 20px;
    }
}





