.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.95); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px;
    display: flex/* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    margin-top: 1px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    margin-left:auto;
    margin-right:auto;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.closebtn
{
    top: 10px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

    .closebtn
    {
        top: 0;
    }
}

.navigation-buttons a p{
    padding-top: 10px;
}

@media screen and (max-width: 550px) {
    .overlay-content {
        top: 60px;     }

}

    .navigation-bar {
        border-radius: 0;
        background-color: black;
    }
    .navigation{
        height: 50px;
        padding: 15px 15px;
        line-height: 20px;
        color: whitesmoke;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .navigation-title{
        padding-top: .25rem;
        padding-bottom: .25rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        color: whitesmoke;
    }
    .navigation-title:hover{
        color: whitesmoke;
        text-decoration: none;
    }
    .turn90{
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    .navigation-links a{
        font-size: 1em;
        color: whitesmoke;
        border-left: 1px solid whitesmoke;
        padding-left: 1em;
        padding-right: 1em;
        text-align: center;
        margin-left:auto;
        margin-right:auto;
    }
    .navigation-links a:first-child{
        border-left: 0;
    }
    .navigation-links a:hover{
        color: whitesmoke;
        text-decoration: none;
    }

    .navigation-buttons{
        width:80%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .navigation-buttons a{
        width:50%;
        font-size: 3rem;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: block;

    }
    .navigation-buttons a p{
        font-size: 1rem;
        text-align: center;
        margin-left:auto;
        margin-right:auto;
        display: block;
    }
.glyphicon {

    margin-left: 5px;
}



