.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.navigation-buttons a p{
    padding-top: 10px;
}

@media screen and (max-width: 550px) {
    .overlay-content {
        top: 60px;     }

}

    .navigation-bar {
        border-radius: 0;
        background-color: darkred;
        opacity: 0.7;
    }
    .navigation{
        height: 75px;
        padding: 25px 15px;
        line-height: 20px;
        color: whitesmoke;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .navigation-title{
        padding-top: .25rem;
        padding-bottom: .25rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        color: whitesmoke;
    }
    .navigation-title:hover{
        color: whitesmoke;
        text-decoration: none;
    }
    .turn90{
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    .navigation-links a{
        font-size: 1em;
        color: whitesmoke;
        border-left: 1px solid whitesmoke;
        padding-left: 1em;
        padding-right: 1em;
        text-align: center;
        margin-left:auto;
        margin-right:auto;
    }
    .navigation-links a:first-child{
        border-left: 0;
    }
    .navigation-links a:hover{
        color: whitesmoke;
        text-decoration: none;
    }

    .navigation-buttons{
        width:80%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .navigation-buttons a{
        width:50%;
        font-size: 3rem;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: block;

    }
    .navigation-buttons a p{
        font-size: 1rem;
        text-align: center;
        margin-left:auto;
        margin-right:auto;
        display: block;
    }
.glyphicon {

    margin-left: 5px;
}

@media (min-width: 800px) {
    .navigation-buttons a{
        width:25%;
        margin-bottom: 30px;
    }

    .closebtn
    {
        right: 0;
    }
}


