body{
    background-color: #202935;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-height: 100vh;
}

.container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: white;
    margin-top: 10px;
    padding-top: 10px;
    background-color: #2B3846;
    margin-top: 30px;
}
.container h1{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    font-size: 1.8rem;
}

.blockTotal{
    display: block;
    width: 90%;
    background-color: #313945;
    margin-left: auto;
    margin-right: auto;
}

.blockTotal h3{
    background-color: #111c25;
    text-align: center;
    font-size: 1.4em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}
.row{
    padding-left: 20px;
    padding-left: 20px;
}
li{
    list-style: none;
}


.blockList{
    display: block;
    float: left;
    width: 150px;;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    background-color: #364358;
    margin-top: 20px;
    margin-bottom: 20px; 
}

.blockList h1{
    display:block;
    width: 150px;
    padding: 7px 0;
    border-bottom: 1px solid white;
    font-size: 1.4em;
    text-align: center;
    background-color: #1b2e3c;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

li p{
    display: block;
    width: 150px;
    text-align: center;
    
}

li #edit{
    display: block;
    text-align: center;
    color: white;
    background-color: olivedrab;
    border-top: solid 1.5px white;
    padding-top: 4px;
    padding-bottom: 4px;
}
li #delete{
    display: block;
    text-align: center;
    color: white;
    background-color: #d9534f;
    padding-top: 4px;
    padding-bottom: 5px;
    border: none;
    border-top: solid 1.5px white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#new-silo{
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2rem;
}








